body {
    border: 2px solid;
    background-color: antiquewhite;
    margin: 15%;
    padding: 0%;
    margin-right: 60%;
}

li {
    font-weight: bold;
}

ol {
    list-style: lower-greek;
}

.lettre {
    list-style: lower-greek;

}

.definition {
    text-indent: 20px;
    font-style: italic;
    list-style-type: none;
}

.terme {
    font-variant: small-caps;
    list-style-type: none;
    font-weight: bold;
}

.list {
    list-style-type: none;
}